@import "tailwindcss";
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .fade-in:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .fade-in:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .fade-in:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .fade-in:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .fade-in:nth-child(5) {
    animation-delay: 0.5s;
  }
  
  .fade-in:nth-child(6) {
    animation-delay: 0.6s;
  }
  
  .fade-in:nth-child(7) {
    animation-delay: 0.7s;
  }
  
  .fade-in:nth-child(8) {
    animation-delay: 0.8s;
  }
